*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif0;
    font-size: 20px;
    color: white;
}
.navbar{
    background-color: yellow;
    padding: 20px;
}
.list-item{
    list-style: none;
    display: flex;
}
.list-item li a{
    margin:20px;
    padding:10px;
    text-decoration: none;
}